{% extends "base.html" %}
{% load static %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Отчеты
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for item in report_list %}
                <a class="dropdown-item" href="{{item.ref}}">{{item.label}}</a>
            {% endfor %}
        </div>
      </li>
    <a class="navbar-brand" href="#">{{report_name}}</a>
    </ul>

    <form method="post" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        {{form}}
        <button type="submit">Построить отчет</button>
    </form>
  </div>
</nav>

{{report}}

{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
    {% load static %}
{% endblock %}